*{
    margin: top 50px;
   background:#333:
   padding:0;
 }

 .button1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

 #show th, #show td{
    padding:13px;
 }

 #btn td input{
    width:100%;
 }

 body {
    background-color: #6e6e6b;
  }

  th {
    background-color: #d7dad9;
    color: white;
  }

  .tr1 {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  

