body{
    background-color:antiquewhite;
    display:flex;
    justify-content:center;
    align-items:center;
    height:90vh;
}

.labellimit{
    font-size:20px;
    margin-bottom: 10px;
}

#limit{
    width:20em;
    padding:7px;
    margin:0px 8px;
} 

.limitbtn{
    padding:7px 25px;
    font-size: 15px;
    cursor:pointer;
}

.time{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

#start-btn, #stop-btn, #clear-btn{
    padding:7px 25px;
    font-size: 15px;
    margin:0px 10px;
    cursor: pointer;
}
