body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.font-family{ 
    margin-left: 10px;
}
.font{
    margin: 10px 0px;
    padding: 8px;
    width: 500px;
}
.btn{
    width: 26px;
    height: 24px;
}

textarea{
    width: 600px;
    height: 350px;
}
input[type=reset]{
    margin: 10px 0px;
    padding: 8px;
    width: 50px;
    background-color:gainsboro;
    margin-left: 10px;
    color: black;
    border:0em;
    cursor: pointer;
    border-radius: 2px;
    font-size: medium;
}