table{
    border-left-color: transparent;
    border-right:transparent ;
    border-bottom:transparent ;


    margin-left: auto;
    margin-right: auto;
    margin-top:7em;
}
td{
    border-left-color: transparent;
    border-top:transparent ;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;    
    border-right-color:black; 
    border-bottom-color:black;
}
th{
    border-right-color:transparent;
    border-bottom: transparent;
    border-top: transparent;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;   
    width: 400px;
}
button{
    border: none;
    background-color:white ;
}