/* *********************************** CSS CODE *************************************** */
.text-center
{
    text-align: center;
    margin-top: 5%;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
}
.container
{  
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgb(106, 105, 105) inset;
    margin: auto;
    width: 390px;
    height : 270px;
    padding: 1.5%; 
}
input
{   
    height: 24px;
}
label
{
    width: 210px;
    display: inline-block;
    font-size: larger;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* CSS FOR BUTTONS */
.btn
{   
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 0px 0px gray;
    width: 175px;
    height: 40px;
}
.btn-space
{
    margin-left: 35px;
}
